body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #faebd7;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
.output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.copied {
    background-color: #dafad7;
    transition: background-color 0.5s ease;
  }
  